.manage-user-list-redirect-btn {
  width: 156px;
  height: 32px;
  box-sizing: border-box;
  padding: 6px 10px 6px 10px;
  border: none;
  border-radius: 10px;
  background: #F1F1F1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.manage-user-detail {
  text-decoration: none;
  color: black;
  vertical-align: middle;
}

.manage-user-list-item > td {
  border: none;
}