/*category-manage-wrapper*/
.category-manage-wrapper.active{
    background-color: #465F7A;
    border-radius: 10px;
}
.category-manage-option-table {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #fff;
    border-collapse: collapse;
    margin-top: 10px;
}
.category-manage-option-table tr {
    border: none;
}
.category-manage-option-table tbody tr td {
    border: none;
}
.category-manage-option-table img {
    width: 18px;
    height: 18px;
}
.category-manage-option-table button {
    background-color: #152A41;
    padding: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 12px;
}
.category-manage-option-table tbody tr td:nth-child(1){
    max-width: 48%;
}
.category-manage-option-table tbody tr td:nth-child(2){
    width: 27%;
}
.category-manage-option-table tbody tr td:nth-child(3){
    width: 25%;
}
.category-delete-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#new-categoryName-input {
    max-width: 85px;
    border: none;
    background-color: transparent;
    color: #fff;
    resize: none;
    line-height: 1.2;
    font-size: 14px;
}
#new-categoryName-input:focus {
    border: 1px solid #6b6d6f;
    outline: none;
    border-radius: 5px;
}
#new-categoryName-input::-webkit-scrollbar {
    display: none;
}
.add-category-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #152A41;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin-top: 12px;
    cursor: pointer;
}
.add-category-wrapper img {
    width: 24px;
    height: 24px;
}
.category-modify-btn {
    width: 70px;
}
.category-modify-btn.change {
    background-color: #465F7A;
    width: 70px;
}
.category-delete-btn{
    width: 50px;
}
#new-category-input {
    color: #fff;
    border: none;
    background-color: transparent;
    width: 100%;
    resize: none;
    line-height: 1.2;
    font-size: 14px;
    margin-top: 5px;
}
#new-category-input:focus {
    outline: none;
}
#new-category-input::-webkit-scrollbar {
    display: none;
}
.category-manage-name {
    word-break: break-all;
}