.aside-writing .writing-mobile-header > h2 {
  font-size: 14px;
  color: white;
  line-height: 20px;
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.aside-writing-items {
  color: white;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
}

.aside-writing-items > li {
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 4px;
  width: 100%;
  font-weight: 300;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #193553;
  transition: 0.3s border;
  display: flex;
  flex-direction: column;
}
.writing-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.writing-title-wrapper.delete-visible{
  background-color: #152A41;
  padding: 12px;
  border-radius: 10px;
}

.aside-writing-items > li:hover {
  border: 1px solid #FFF;
}

.aside-writing-items > li.active {
  background: #465F7A;
  border: 1px solid #465F7A;
  cursor: default;
}
.aside-writing-items > li.delete-visible {
  background-color: rgba(70, 95, 122, 0.3);
  border-radius: 12px;
  padding: 5px;
}

.aside-writing-create-btn {
  background: #152A41;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 4px;
  width: 100%;
  font-weight: 300;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: white;
  border: none;
}

.delete-writing {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.delete-writing:hover {
  border: 1px solid #FFF;
  border-radius: 5px;
}
.aside-writing {
  height: 90dvh;
  overflow-y: scroll;
}
.aside-writing::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 900px) {
  .aside-writing {
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #193553;
    border-radius: 0 0 16px 16px;
  }
  .aside-writing .writing-mobile-header {
    padding-top: 58px;
    padding-left: 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .aside-writing .writing-mobile-header h2 {
    margin: 0;
  }
  .aside-writing .writing-mobile-header img {
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
  }
  .aside-writing-items {
    padding: 20px;
    padding-top: 5px;
  }
  .aside-writing-content {
    max-height: 70dvh;
    overflow-y: auto;
  }
  .aside-writing-content::-webkit-scrollbar {
    display: none;
  }
}