.aside-user-manage-title {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: white;
}

.aside-user-manage-id-input {
  display: flex;
  width: 100%;
  height: 44px;
  padding: 13px 12px 13px 12px;
  gap: 16px;
  border-radius: 10px;
  background: #152A41;
  box-sizing: border-box;
  margin-bottom: 4px;
}

.aside-user-manage-role-input {
  width: 100%;
  padding: 11px 12px;
  gap: 6px;
  border-radius: 10px;
  background: #152A41;
  box-sizing: border-box;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
}

.aside-user-manage-ratio-container {
  display: flex;
  gap: 4px;
}

.aside-user-manage-input-title {
  color: #5E7D9F;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.aside-user-manage-id-input > label {
  color: #5E7D9F;
  font-weight: 300;
  font-size: 14px;
}

.aside-user-manage-id-input > input {
  background: none;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 300;
}

.aside-user-manage-modify-btn {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid #5E7D9F;
  border-radius: 10px;
  background: none;
  padding: 12px, 44px, 12px, 44px;
  font-size: 14px;
  font-weight: 300;
  color: #5E7D9F;
  cursor: pointer;
  margin-bottom: 32px;
}

.aside-user-redirect-btn {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px, 44px, 12px, 44px;
  background: #465F7A;
  color: white;
  border: none;
  margin-bottom: 4px;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
}

.aside-user-manage-ratio > label {
  border: 1px solid #465F7A;
  border-radius: 10px;
  padding: 3px 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.aside-user-manage-ratio > input:checked+label {
  background: #465F7A;
}

.aside-user-manage-ratio > input:disabled+label {
  cursor: default;
}

.aside-user-manage-ratio > input {
  display: none;
}